<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .container{ background-color: rosybrown}
        h1{font-family: 'Merriweather Sans', sans-serif, cursive, cursive; font-weight: bold; text-align: center}
        form{border: darkgoldenrod 2px}
    </style>
</head>
<body style="background-color: gainsboro">
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <br><h1>Feedback Form</h1>
            <form action="/feedback/" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <center><input type="submit" value="SUBMIT"></center><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>