<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .container{ background-color: azure}
        h1{font-family: 'Raleway', sans-serif, cursive; font-weight: bold; text-align: center}
        form{border: darkgoldenrod 2px}
        h3{text-align: center}
    </style>
</head>
<body style="background-color: gainsboro">
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br><br>
            <h1>Thanks for giving the feedback</h1>
            <br><br>
            <h3><a href="/feedback/">Click here for feedback page</a></h3>
            <br><br>
        </div>
    </div>
</div>
</body>
</html>